Django==1.10
django-filter==0.14.0
django-graphiql==0.4.4
graphene==0.10.2
graphql-core==0.5.3
graphql-django-view==1.3
graphql-relay==0.4.4
iso8601==0.1.11
pip-save==0.1.4
promise==0.4.2
singledispatch==3.4.0.3
six==1.10.0
wheel==0.26.0
